<div class="row">
	<div class="container">
		<h2 style="color: #bf3e11">Create Application Patch</h2>
		<hr />
		<div class="row">
			<div class="col-lg-5">
				<div class="panel panel-default">
					<div class="panel-body" style="min-height: 400px; overflow: scroll">
						<div js-tree="treeConfig" ng-model="treeModelLeft"
							should-apply="applyModelChanges()" tree="treeInstanceOne"
							tree-events="ready:readyCB;select_node:selectNodeCB"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 text-center">
				<div class="btn-group-vertical" style="margin-top: 150px;">
					<button type="button" class="btn btn-default"
						ng-click="moveRight()">
						<i class="fa fa-arrow-right"></i>
					</button>
					<button type="button" class="btn btn-default">
						<i class="fa fa-arrow-left"></i>
					</button>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="panel panel-default">
					<div class="panel-body" style="min-height: 400px; overflow: scroll">
						<div js-tree="treeConfig" ng-model="treeModelRight"
							should-apply="applyModelChanges()" tree="treeInstanceTwo"
							tree-events="ready:readyCB;create_node:createNodeCB"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<button ng-click="proceed()" class="btn btn-primary">Proceed</button>
			<button ng-click="goBack()"  class="btn btn-primary">Cancel</button>
		</div>
	</div>
</div>
