<div class="row">
	<div class="container">
		<h2 style="color: #bf3e11">Create Application Patch</h2>
		<hr/>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="desc">Name:</label>
				    <div class="col-sm-4">
				      <input type="text" ng-model="patch.name" class="form-control" id="name" placeholder="Package Name">
				    </div>
				  </div>				
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="desc">Description:</label>
				    <div class="col-sm-4">
				      <input type="text" ng-model="patch.desc" class="form-control" id="desc" placeholder="Description">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="env">Environment:</label>
				    <div class="col-sm-4"> 
				      <select ng-model="patch.env" class="form-control" name="env" ng-options="x.envName for x in environments"></select>
				      <!-- input type="text" ng-model="patch.env" class="form-control" id="env" placeholder="Environment"-->
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="dest">Destination:</label>
				    <div class="col-sm-4"> 
				      <input type="text" ng-model="patch.dest" class="form-control" id="dest" placeholder="Destination">
				    </div>
				  </div>	
				  <div class="form-group">
				    <label class="control-label col-sm-2" for="createdBy">Created By:</label>
				    <div class="col-sm-4"> 
				      <input type="text" ng-model="patch.createdBy" class="form-control" id="createdBy" placeholder="Created By">
				    </div>
				  </div>	
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-4">
				      <div class="checkbox">
				        <label><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="patch.hasAppPatch">Has Application Patch</label>
				      </div>
				      <div class="checkbox">
				        <label><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="patch.hasDbPatch">Has Database Patch</label>
				      </div>				      
				    </div>
				  </div>
				  <div class="form-group"> 
				    <div class="col-sm-offset-2 col-sm-4">
				      <button type="submit" ng-click="proceed()" class="btn btn-default">Proceed</button>
				    </div>
				  </div>
				</form>				
			</div>
		</div>
	</div>
</div>
