<div class="row">
	<div class="container">
		<h2 style="color: #bf3e11">Dashboard</h2>
		<hr />
		
		<div class="panel panel-default">
			<div class="panel-body">
				
				<input class="form-control" type="text" ng-model="test" />
				<table class="table table-striped">
					<tr>
						<th>Select</th>
						<th>Index</th>
						<th>App Object Type</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
					</tr>
					<tr ng-repeat="appObjType in appObjTypes | filter : test">
						<td><input type="checkbox"></td>
						<td>{{appObjType.appObjTypeId}}</td>
						<td>{{appObjType.appObjType}}</td>
						<td>{{appObjType.description}}</td>
						<td><input type="button" class="btn btn-warning" value="Delete" checked="checked" submit="alert('test')"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
