<div class="row">
	<div class="container">
		<h2 style="color: #bf3e11">Environments</h2>
		<hr />

		<div class="panel panel-default">

			<div class="panel-body">
				<input type="button" class="btn btn-primary pull-right"
				data-toggle="modal" data-target="#myModal"
				value="Configure Environment" style="margin-bottom:20px;">
			
				<table  class="table table-striped">
					<tr>
						<th>Environment Name</th>
						<th>Project</th>
						<th>Environemnt Path</th>
						<th>DB Host</th>
						<th>DB Port</th>
						<th>Db Sid</th>
						<th>User Name</th>
						<th>Environemnt Version</th>
						<th>Action</th>
					</tr>
					</tr>
					<tr ng-repeat="environment in environments">
						<td>{{environment.envName}}</td>
						<td>{{environment.project}}</td>
						<td>{{environment.envPath}}</td>
						<td>{{environment.dbHost}}</td>
						<td>{{environment.dbPort}}</td>
						<td>{{environment.dbSid}}</td>
						<td>{{environment.dbUser}}</td>
						<td>{{environment.envVer}}</td>
						<td><input type="button" class="btn btn-primary pull-right"
							value="Delete" ng-click="deleteEnvironment(environment)"></td>
					</tr>
				</table>
			</div>
		</div>		
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Configure Environment</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Project
									Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="a" id="a"
										ng-model="environment.project" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Env.
									Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="b" id="b"
										ng-model="environment.envName" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Env.
									Version</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="email"
										ng-model="environment.envVer" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Hostname</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="email"
										ng-model="environment.dbHost" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">DB
									Port</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="ee"
										ng-model="environment.dbPort" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">SID</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="emaddil"
										ng-model="environment.dbSid" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">USername</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="sss"
										ng-model="environment.dbUser" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Password</label>
								<div class="col-sm-8">
									<input type="password" class="form-control" id="email"
										ng-model="environment.dbPswd" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Env.
									Path</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="email"
										ng-model="environment.envPath" placeholder="Enter email">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-warning"
									ng-click="saveEnvironment()">Save</button>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>