<style>
a:hover {
	cursor:pointer;
}
.dropzone {
	border: 2px dashed;
}
.hcolmn {
	background-color: #eee;
	width:200px;
}
</style>

<div class="row">
	<div class="container">
		<h2 style="color: #bf3e11">Review Package</h2>
		<hr />
		<div class="panel panel-default">
			<div class="panel-body" ng-init="tab = 1">
				<uib-tabset active="active">
					<uib-tab index="0" heading="Patch Details">
						<p></p>
						<table class="table table-hover">
							<tr><td class="hcolmn">Package Name</td><td>{{patch.name}}</td></tr>
							<tr><td class="hcolmn">Description</td><td>{{patch.desc}}</td></tr>
							<tr><td class="hcolmn">Environment</td><td>{{patch.env.envName}}</td></tr>
							<tr><td class="hcolmn">Destination</td><td>{{patch.dest}}</td></tr>
						</table>
						
					</uib-tab>
					<uib-tab index="1" heading="Application" disabled="!patch.hasAppPatch">
						<p>&nbsp;</p>
						<h4>List of files inside the Package</h4>
						<table class="table table-striped">
							<tr><th>File</th><th>Path</th></tr>
							<tr ng-repeat="f in selectedFiles">
								<td>{{f.file}}</td>
								<td>{{f.folder}}</td>
							</tr>
						</table>
					</uib-tab>
					<uib-tab index="2" heading="Database">
						<p>&nbsp;</p>
						<h4>Database Details</h4>
						<pre><ng-include ng-src="{{inputFileUrl}}"></ng-include></pre>
					</uib-tab>
					<uib-tab index="3" heading="Upload Documents">
						<p>&nbsp;</p>
						<h4>Upload Documents</h4>
						<div flow-init="{target: '/upload'}"
						     flow-files-submitted="$flow.upload()"
						     flow-file-success="$file.msg = $message">
						  
						  <div class="alert alert-warning dropzone" flow-drop>
							    Drag And Drop your file here or click upload button <span class="btn btn-primary" flow-btn>Upload File</span>
						  </div>
						  <table class="table table-striped">
						    <tr ng-repeat="file in $flow.files">
						        <td>{{$index+1}}</td>
						        <td>{{file.name}}</td>
						        <td>{{file.msg}}</td>
						    </tr>
						  </table>
						</div>
					</uib-tab>
				</uib-tabset>	
			</div>
		</div>
		<div class="row text-center"><button class="btn btn-primary"><i class="fa fa-download"></i> Download Package</button></div>
		
	</div>
</div>